@model CollectionPR.ViewModels.CollectionViewModel
@using CollectionPR.Services.Interfaces
@using Microsoft.AspNetCore.Identity;

@{
    var data = ViewBag.userService as IUserService;
}

<link rel="stylesheet" title="theme" href="#">
<link rel="stylesheet" type="text/css" href="~/css/CreateCollection/CreateCollection.css" />


<form method="post" asp-action="CreateCollection" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="AuthorId"
        value="@data!.GetUserByEmail(User!.Identity!.Name!).GetAwaiter().GetResult().Id" asp-for="AuthorId" />
    <div class="pos-block">
        <div class="drop-zone col-4">
            <span class="drop-zone__prompt lng-DropImage lng-DropImageCollection theme-main-text">Drop file here or
                click to
                upload</span>
            <input type="file" name="myFile" class="drop-zone__input" accept="image/*" />
        </div>
        <br />
        <div class="pos-block-col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text lng-CollectionTitle">Title:</span>
                </div>
                <input type="text" class="form-control" name="Title" aria-label="Title" asp-for="Title">
                <span asp-validation-for="Title"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text lng-CollectionSmallDescription">Description:</span>
                </div>
                <textarea type="text" class="form-control" name="Description" aria-label="Description"
                    asp-for="Description"></textarea>
                <span asp-validation-for="Description"></span>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text lng-CollectionTheme">Theme:</span>
                </div>
                <select class="form-select" id="themeSelector" asp-for="Theme">
                    <option value="null" class="lng-SelectTheme" selected>Select theme of your Collection</option>
                    <option value="alcohol" class="lng-AlcoholTheme">Alcohol</option>
                    <option value="books" class="lng-BooksTheme">Books</option>
                    <option value="films" class="lng-FilmsTheme">Films</option>
                </select>
                <span asp-validation-for="Theme"></span>
            </div>
        </div>
    </div>

    <div id="checkBoxAdditional" style="display: none">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IncludeDate">
            <label class="form-check-label theme-main-text">
                Default checkbox
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IncludeBrand">
            <label class="form-check-label theme-main-text">
                Default checkbox
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IncludeComments">
            <label class="form-check-label theme-main-text">
                Default checkbox
            </label>
        </div>
    </div>


    <br />
    <button type="submit" class="btn btn-success lng-CreateCollectionButton theme-main-text">Create</button>
</form>

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>
<script src="/js/CreateCollection.js"></script>
<script src="/js/DropZone.js"></script>

<script>
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Create Collection Page - CollectionPR' : 'Создание коллекции - CollectionPR';

    document.querySelector('title').innerHTML = pageTitle;
</script>